<h1>Iris Key Uploader<h1 *ngIf="key.infoKey.indexOf('is pending activation') != -1" style="color:red">Restart Need !</h1></h1>
<mat-accordion>
    <mat-expansion-panel fxLayout="column" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Key Info
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="angular-with-newlines">{{key.infoKey}}</div>
    </mat-expansion-panel>
    <mat-expansion-panel fxLayout="column" [expanded]="false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Key Detail
              </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="angular-with-newlines">{{key.summary}}</div>
    </mat-expansion-panel>
    <mat-expansion-panel fxLayout="column" [expanded]="false">
      <mat-expansion-panel-header>
          <mat-panel-title>
              Key Dump
            </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="angular-with-newlines">{{key.dump}}</div>
  </mat-expansion-panel>
</mat-accordion>
<br/>
<button mat-raised-button color="primary" aria-label="Upload Key"
(click)="openUploadKey()">
    Upload Key
</button>
