<h1>{{title}}</h1>
<div>
    <form [formGroup]="form" (ngSubmit)="submitForm()">

            <div *ngIf="file == null" class="form-group dropzone" appDnd (fileDropped)="onDrop($event)">
                <input class="inputFile" #inputFile type="file" id="file" (change)="fromBrowser($event)">
                <img src="assets/img/upload.svg" alt="">
                <h3>Drag and drop file here</h3>
                <h3>or</h3>
                <label class="inputFileLabel" for="inputFile">Browse for file</label>
            </div>
            <div *ngIf="file != null" class="single-file">
                <img src="assets/img/file.svg" width="45px" alt="file">
                <div class="info">
                    <h4 class="name">
                        {{ file?.name }}
                    </h4>
                    <p class="size">
                        {{ formatBytes(file?.size) }}
                    </p>
                </div>
                <img src="assets/img/delete.svg" class="delete" width="20px" alt="x" (click)="deleteFile()">
            </div>
            <div *ngIf="file != null" class="single-file">
                <textarea style="width: -moz-available;width: -webkit-fill-available;" #filePreview rows=5 formControlName="filePreview"
                    id="filePreview">{{filePreview}}</textarea>
            </div>
        <p></p>
        <div mat-dialog-actions>
            <button mat-stroked-button color="primary" class="fr-secondary" mat-dialog-close>Cancel</button>
            <button mat-flat-button color="primary">Send</button>
        </div>
    </form>
</div>